#room__container{
  display: flex;
  flex-direction: column;
  align-items:end;
  background-color: white;


}

#member__list {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  background-color: #f5f5f5;
  padding: 20px;
  background-color: grey(255, 255, 255);
  width: 300px;
  border: 2px solid ;
  height: 270px;
  border-radius: 20px;
  overflow-y: scroll;
  box-shadow: 10px 10px 20px grey;

}

#members__header{
  background-color: #414244;
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  font-size: 20px;
  height: 20px;
  color: white;
}


.member__wrapper{
  background-color: #bcbcc1;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

#messages{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 15px;
  background-color: #f5f5f5;
  border: 2px solid ;
  width: 310px;
  height: 250px;
  overflow-y: scroll;
  border-radius: 20px;
  box-shadow: 10px 10px 20px grey;


}

.message__wrapper{
  background-color: #bcbcc1;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

#message__form input{
  margin-top: 2px;
  padding: 20px;
  background-color: white;
  width: 300px;
  border-bottom: 2px solid ;
  max-height: 10px;
  overflow-y: scroll;
  border-radius: 20px; 
  border: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 2px solid ;
  box-shadow: 10px 10px 20px grey;


}

#stream__container{
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  background-color: #f5f5f5;
  width: 75%;
  position: fixed;
  top: 0;
  height: 100%;
  box-shadow: 10px 10px 15px grey;

}


.active{
  margin: 10px;
  padding: 10px;
  border-radius: 50px;
  border: none;
}

.stream__actions a:hover,
.stream__actions button:hover {
  background-color: #555;
}

#join-btn{
  position: fixed;
  height: 60px;
  width: 120px;
  background-color: #414244;
  color: white;
  border-radius: 10px;
  top: 90%;
  left: 35%;
}



@media (max-width: 1200px) {
  #members__container {
    display: none;
  }

  #members__button {
    display: block;
  }

  #stream__container {
    width: calc(100% - 25rem);
    left: 0;
  }
}

@media (max-width: 980px) {
  #stream__container {
    width: calc(100% - 20rem);
    left: 0;
  }
  #messages__container {
    max-width: 20rem;
  }

  #message__form {
    width: 18.2rem;
  }
}

@media (max-width: 768px) {
  #stream__container {
    width: 100%;
  }

  #messages__container {
    display: none;
  }

  #chat__button {
    display: block;
  }
}

#stream__box{
  display: none;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 50px;
  height: 400px;
  width: 97%;
}

#stream__box .video__container{
  border-radius: 0%;
  height: 100%!important;
  width:100%!important;
}

#stream__box video{
  border-radius: 0;
}

.video__container{
  display: flex;
  justify-content: center;
  align-items: center;
  border:2px solid #414244;
  border-radius: 0%;
  cursor: pointer;
  overflow: hidden;
  height: 300px;
  width: 400px;
  box-shadow: 10px 10px 20px grey;
background-color: black;
margin: 10px;
}

.video-player{
  height: 100%;
  width: 80%;
}

#streams__container {
display: flex;
height: 150px;
width: 75%;
}

.stream__focus {
  width: 100%;
  height: 100%;
}

.stream__focus iframe {
  width: 100%;
  height: 100%;
}

.stream__actions {
  position: fixed;
  display: none;
  bottom: 2%;
  border-radius: 11px;
  background-color: #1a1a1a60;
  padding: 15px;
  left: 40%;
  gap: 10px;
  transform: translateX(-50%);
}

.stream__actions a,
.stream__actions button {
  cursor: pointer;
  background-color: #262625;
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.stream__actions a svg,
.stream__actions button svg {
  width: 20px;
  height: 20px;
  fill: white;
}

.stream__actions a.active,
.stream__actions button.active,
.stream__actions a:hover,
.stream__actions button:hover {
  background-color: #555;
}


  